@import "@picocss/pico";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.link {
    color: var(--primary);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
